
/* HEADER CSS STARTS */
header{
  background-color:#3a97a7;
  /* #5ecd63 */
  padding: 10px 0;
  color:#fff;
  /* position: fixed; */
  top: 0;
  width: 100%;
  height:80px;
}
nav{
  display: flex;
}
.logo{
  display: flex;
  width:250px;
  height:80px;
  padding-left:8px;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}
.logo img{
  max-width: 250px;
  height: 80px;
  border-radius:5px;
}

ul.nav-menus{
  display:flex;
  padding-left:40px;
  justify-self:flex-end;
  padding-right:40px;
  padding-top:10px;
  flex: 0 0 auto;
  list-style:none;
  margin-bottom:0;
}
ul.nav-menus li{
  display:flex;
  justify-content:center;
  padding: 0 50px;
  margin-bottom:0;
}
ul.nav-menus li a{
  color:#fff;
  text-decoration:none;
  border-radius:5px;
  
}
ul.nav-menus li a.active,
ul.nav-menus li a:hover{
  background-color:white;
  color:black;
  border-radius:5px;
  height:20px;
  margin-bottom:0;
  opacity:0.9;
}

/* HEADER CSS ENDS */ 
/* Register Form CSS starts */
.banner{
  display:flex;
  width:100%
}
.signupForm,.loginForm{
  border-radius:10px;
  background-color:aliceblue;
  width:350px;
  height:fit-content;
  margin-top:-400px;
  align-items:center;
  margin-left:60%;
  display:flex;
  flex-flow:column;
  align-items :center;
}

#signupText, #loginText{
  font-style: normal;
  font-weight:200;
  font-weight:200;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#5ecd63;
  background-color:white;
  border-radius:5px;
  box-shadow: rgb(0, 0, 0);
  text-shadow:black;
}

/* Styling the input fields */
input[name="fullName"],
input[name="phoneNumber"],
input[name="email"],
input[name="password"],
input[name="confirmPassword"],
input[name="mode"],
input[name="age"],
input[name="gender"],
input[name="city"] {
  /* Add your desired styles here */
  width: 300px;
  height:fit-content;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow:black;
  border-width:1px;
  border-color:black;
  margin-bottom: 10px;
}

/* Register button CSS */
#register-btn, #login-btn{
  align-self:center;
  background-color:#5ecd63;
  color:white;
  border-radius:5px;
  box-shadow:white;
  border:white;
  display:flex;
  margin-left:40%;
}

#register-btn:hover,#login-btn:hover{
  
  background-color:white;
  color:#5ecd63;
}

/* footer css */

footer {
  /* position:sticky;
  bottom: 0; */
  background-color: white;
  color: #5ecd63;
  padding: 40px 0;
  text-align: center;
  width: 100%;
  margin: 10px 5px;
}

/* about Us section styling */
.container-aboutUs{
display:flex;
flex-direction:horizontal;
}
.aboutUs{
  background-color:aliceblue;
  width:100%;
  height:fit-content;
  margin-right:10%;
  margin-top:8%;
}
#aboutUs-header{
  color:#5ecd63;
  font-family: 'Times New Roman', Times, serif;
  font-size:30px;
  margin-top:10px;
}
#aboutUs-text{
  color:rgb(79, 79, 79);
  font-family: 'Times New Roman', Times, serif;
  font-stretch: wider;
  margin-top:5px;
}